#table{
	font-size: 4.5em;
	width: 11.5em;
	height : 12em;
	background-color: forestGreen;
}

#table > div.row {
	height: 2em;
	padding: 0.25em 0;

}

#column-table{
	padding: 0.25
}

#table > div > div.col-sm {
	height: 1.5em;
	width: 1.5em;
	text-align: center;

}

#table > div > div > input{
	text-align: center;
	border: none;
	background-color: Coral;
	font-size: inherit;
	height : 100%;
	width: 100%;

}

#table > div > div.col-sm > div > div{
	width: 1.5em;
	height :0.75em;
}

#table > div > div.col-sm> div > div >input{
	font-size: 0.75em;
	text-align: center;
	border-color: coral;
	border-width: 2pt;
	background-color: darkSalmon;
	width:  100%;
	height: 100%;
}